<head>
	<%= stylesheet_link_tag 'main' %>
	<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Numans|Questrial|Roboto" rel="stylesheet">
</head>

<body class="new-form">

<h1>New committee member information</h1>

	<%= simple_form_for @committeeMember, url: {action: "create"} do |p| %>
	  <%= p.input :name, placeholder: 'Jane Doe' %>
	  <%= p.input :year, placeholder: '2' %>
	  <label><%= Officer %></label>
	  <%= p.collection_select :officer_id, Officer.order(:name), :id, :name %>
	  <%= p.input :position, placeholder: 'Design Committee Member' %>
	  <%= p.button :submit %>
	<% end %>

</body>