<h1>Task Organizer</h1>

<%= link_to 'Archived Members', archived_path %>

<%= link_to 'Add New Organization', organization_new_path %>

<div>
	<% @organizations.each do |org| %>
	<h2>Organization: <%= org.name %></h2>

	<div>
		<h3> Officers </h4>
		<%= link_to 'Add New Officer', officer_new_path %>
		<% org.officers.each do |of| %>
			<p> Officer Name: <%= of.name %></p>
			<%= button_to "Archive", officer_delete_path(id: of), :class => "button medium", :method => :patch %>

			<div>
				<h4>Committee Members</h4>
				<%= link_to 'Add New Committee Member', committee_member_new_path %>
				<% of.committee_members.each do |mem| %>
				<p>Name: <%= mem.name %></p>
				<%= button_to "Archive", committee_member_delete_path(id: mem), :class => "button medium", :method => :patch %>
				<% end %>
			</div>

		<% end %>
	</div>

<% end %>

</div>

